
* {
    margin: 0;
    padding: 0;
}

body {
    font: 2em 'Ubuntu';
    background-color: #121212;
}

#container {
    display: flex;
    color: white;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
}

#box {
    display: flex;
    flex-direction: column;
}

#form0 {
    height: 162px; 
    overflow: hidden; 
    transition: height 400ms;
    position: absolute;
    top: 25%;
    left: 40%;
}

#form1 {
    margin-bottom: 20px;
}
#form {
    padding: 10px;
    width: 220px;
    display: inline-block;
    flex-direction: column;
    font-size: 20px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: -13px;
}

#tamanhoNumero {
    border-radius: 20px;
    height: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    border-style: none;
    outline: 0;
    color: black;
    font-weight: 700;
}

.checkbox label:last-child {
    cursor: pointer;
    margin-left: 4px;
}

#checkboxs .switch {
    display: inline-block;
    width: 40px;
    height: 20px;
    position: relative;
}

#checkboxs .switch .switchBtn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    background-color: #dc4f5a;
}

#checkboxs .switch input {
    display: none;
}

#checkboxs .switch .switchBtn::before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: 2px;
    bottom: 2px;
    border-radius: 100%;
    transition: all 200ms;
    background-color: #121212;
}

#checkboxs .switch input:checked + .switchBtn {
    background-color: #58A721;
}

#checkboxs .switch input:checked + .switchBtn::before{
    transform: translateX(20px);
}

#form div {
    margin: 5px 0;
}

#btnGerar {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    font-weight: bold;
}

#btnGerar button{
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: 0;
    border: 3px solid white;
    text-align: center;
    padding: 5px 0;
    text-transform: uppercase;
    font-weight: bold;
}

#btnGerar button:hover {
    background-color: #7747F0;
    color: white;
    cursor: pointer;
    border: 3px solid white;
    transition: background 250ms;
}

#title button:hover {
    background-color: #7747F0;
    color: white;
    cursor: pointer;
    transition: background 250ms;
}

#div1 {
    background-color: white;
    border-radius: 20px;
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box3 input {
    float: left;
    height: 38px;
    width: 190px;
    margin-left: 15px;
    text-align: center;
    border: 0;
    outline: 0;
    font-size: 20px;
}

#title button {
    float: right;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    border-style: none;
    cursor: pointer;
    background-color: black;
    color: white;
    border: 2px solid white;
}


#title button i,
#pop_up button i{
    position: relative;
    left: 1.5px;
}

#container_popup {
    color: white;
    max-width: 250px;
    height: 215px;
    margin-top: 30px;
    margin-left: 30px;

    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: hidden;
}

#aside_1 {
    background-color: black;
    position: absolute;
    height: 100%;
    width: 50px;
    left: 0;
    top: 0;
}

#box4 {
    position: fixed;
    left: 0;
}

#box4_1,
#box4_2 {
    background-color: #7747F0;
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    font-size: 1em;
    transition: width 250ms;
}

#btnPopUp,
#btnLightMode {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border-style: none;
    background-color: #7747F0;
    color: white;
    padding: 13.2px;
}

#box4_1_2 label,
#box4_2_2 label {
    width: 100%;
    font-size: 16px;
    color: white;
}

#box4_1_2,
#box4_2_2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#box4_1:hover,
#box4_1 button:hover,
#btnPopUp:hover,
#box4_1_2:hover, 
#box4_1_2 label:hover,
#box4_2:hover,
#box4_2 button:hover,
#box4_2_2 label:hover  {
    cursor: pointer;
    color: white;
}

#box4_2 button i {
    position: static;
    right: 2px;
}

/*/////////////////// MOBILE ///////////////////////*/
/* iPhone em geral */
@media (max-width: 550px) {
    #form0 {
        overflow: hidden; 
        transition: height 400ms;
        position: absolute;
        top: 10%;
        left: 23%;
    }

    #aside_1 {
        height: 100%;
        width: 50px;
    }
}

/* Galaxy Fold */
@media (max-width: 300px) {
    #form0 {
        overflow: hidden; 
        transition: height 400ms;
        position: absolute;
        top: 10%;
        left: 6%;
    }

    #aside_1 {
        position: absolute;
        height: 50px;
        width: 100%;
        top: 0;
    }
    
    #pop_up {
        display: flex;
        flex-direction: row;
    }
}