
* {
    margin: 0;
    padding: 0;
}

body {
    font: 2em 'Ubuntu';
    background-color: rgb(29, 29, 29);
}

#container {
    display: flex;
    color: rgb(209, 209, 209);
    border: 3px solid white;
    border-radius: 7px;
    margin-top: 10px;
    max-width: 900px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 640px;
    border-radius: 20px;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
}

#box {
    display: flex;
    flex-direction: column;
}

/*
* FORMULARIO 1
*/

#form1 {
    margin-bottom: 20px;
}
.form {
    padding: 10px;
    width: 220px;
    display: inline-block;
    flex-direction: column;
    font-size: 20px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: -10px;
}

#tamanhoNumero {
    border-radius: 20px;
    height: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    border-style: none;
    outline: 0;
}

.form div {
    margin: 5px 0;
}

#btnGerar {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    font-weight: bold;
}

#btnGerar button{
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    outline: 0;
    border: 3px solid white;
    text-align: center;
    padding: 5px 0;
    text-transform: uppercase;
    font-weight: bold;
}

#btnGerar button:hover {
    background-color: rgb(29, 29, 29);
    color: white;
    cursor: pointer;
    border: 3px solid white;
}

.title button:hover, 
#btnPopUp:hover {
    background-color: rgb(29, 29, 29);
    color: white;
    cursor: pointer;
    border: 2px solid white;
}

/*
* FORMULARIO 2
*/
#div1 {
    background-color: white;
    border-radius: 20px;
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box3 input {
    float: left;
    height: 38px;
    width: 190px;
    margin-left: 15px;
    text-align: center;
    border: 0;
    outline: 0;
    font-size: 20px;
}

.title button {
    float: right;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    border-style: none;
    cursor: pointer;
    border: 2px solid white;
}

.title button {
    background-color: rgba(29, 29, 29, 0.26);
    color: black;
    border: 2px solid white;
}

.title button i,
#pop_up button i{
    position: relative;
    left: 1.5px;
}

/*
* POP UP
*/

#container_popup {
    color: rgb(209, 209, 209);
    max-width: 250px;
    height: 215px;
    margin-top: 30px;
    margin-left: 30px;

    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: hidden;
}

#pop_up {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
}

#btnPopUp {
    float: right;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    border-style: none;
    cursor: pointer;
    border: 2px solid white;
}

[data-tooltip] {
    position: relative;
}


[data-tooltip]:after {
    display: none;
    position: absolute;
    top: -30px;
    left: -8px;
    padding: 5px;
    border-radius: 3px;
    content: attr(data-tooltip);
    white-space: nowrap;
    background-color: white;
    color: black;
    border: 1px solid rgb(29, 29, 29);
}
  
[data-tooltip]:hover:after {
    display: block;
}
